extends layout

block content
  h1= title
  if error
    h3= error
  if username
    p You are currently logged in as #{ username }
  else
    p You are not logged in. Would you like to be?
    .log_in
      h3 Log in
      form(method="post" action="/login")
        input(type="text" name="username" value="username")
        input(type="password" name="password" value="password")
        input(type="submit" value="Let me in!")
    .register
      h3 Register a new account
      form(method="post" action="/register")
        input(type="text" name="username" value="username" required)
        input(type="password" name="password" value="Create a password" required)
        input(type="password" name="password_confirm" value="confirm the password" required)
        input(type="submit" value="Pleased to meet you!")
