extends layout

block content
  h1= title
  if error
    .error_message
      h3= error
  if username
    p You are currently logged in as #{ username }
    form(method="post" action="/tweet")
      p.tweet What's on your mind?
      input.tweet#input_text(type="text" name="tweet")
      input.tweet(type="submit" value="Tell everyone")
    .posts
      ul
        each val in feed
          li=val.username + " : " + val.tweet

    a(href='http://localhost:3000/') Home
  else
    p You are not logged in. Would you like to be?
    .log_in
      h3 Log in
      form(method="post" action="/login")
        input(type="text" name="username" value="username")
        br
        input(type="password" name="password" value="password")
        br
        input(type="submit" value="Let me in!")
    .register
      h3 Register a new account
      form(method="post" action="/register")
        input(type="text" name="username" value="username" required)
        br
        input(type="password" name="password" value="Create a password" required)
        br
        input(type="password" name="password_confirm" value="confirm the password" required)
        br
        input(type="submit" value="Pleased to meet you!")
