extends layout

block content
  body.userpage
    h1= title
    p You are currently logged in as #{ username }
    form(method="post" action="/tweet")
      p.tweet What's on your mind?
      input.tweet#input_text(type="text" name="tweet")
      input.tweet(type="submit" value="Tell everyone")
    p Who do you want to follow?
    form(method="post" action="/follow")
      input(type="text" name="follow")
      input(type="submit" value="follow")
    .posts
      ul
      if (val=== undefined)
        li= Welcome. Make a post by typing something above
        each val in mess
          li= val.username + " said " + "'" +val.tweet + "'" + " on " + val.posted_at
    form(method="post" action="/logout")
      input(type='submit' value='logout')